<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" routerLinkActive="active"><a routerLink="getComp">GET</a></li>
              <li class="breadcrumb-item" routerLinkActive="active"><a routerLink="postComp">POST</a></li>
              <li class="breadcrumb-item" routerLinkActive="active"><a routerLink="delComp">DELETE</a></li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>



